<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <title>Static Files public/css</title>
</head>

<body>
    <h1>usando arquivos estaticos dentro da pasta public/css ou public/images</h1>
    <h2>usando a configuração do express no arquivo index.js </h2>
    <p><h3>app.use(express.static('public'));</h3></p>
<hr>

<h3>mostrando uma imagem estatica dentro da pasta public configurada</h3>
<img src="/images/free-images.jpg">

</body>

</html>